.container{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(238, 237, 237);
  
}

.Modal{
  background: #fff;
  width: 400px;
  height: 320px;
  border-radius: 12px;
  padding: 25px;
  box-shadow: rgba(0,0,0,.35) 0px 5px 15px;
  text-align: center;
}

.Modal span{
  display: flex;
  cursor: pointer;
  justify-content: flex-end;
  padding-right: 5px;
  font-weight: bold;
  font-size: 18px;
}

.Modal .inline{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90%;
}

.Modal button{
  width: 90px;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(31, 97, 219);
  background: cornflowerblue;
  color: #fff;
  cursor: pointer;
}

.cancelModal{
  background: crimson !important;
  border: 1px solid crimson !important;
  margin-right: 10px;
}